<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/testDb</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">Spr@6149</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>

        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">true</property>
        
        <property name="hibernate.connection.provider_class">
		    org.hibernate.engine.jdbc.connections.internal.DriverManagerConnectionProviderImpl
		</property>
		
		
        
        <!-- Mapping entity -->
        <mapping class="com.spr.hibernate.Student"/>
        <mapping class="com.spr.hibernate.Employee"/>
        
    </session-factory>
</hibernate-configuration>
